@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Cookie&family=Great+Vibes&family=Updock&display=swap');

* {
    color: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    list-style: none;
}

a {
    margin: 5px;
    text-align: center;
    text-decoration: none;
}

/* inicio do cabeçalho */
header {
    min-width: 320px;
}

.header-container {
    background-color: rgba(0, 0, 0, 0.98);
    background-image: url('../../assets/img/bg-header-nasa-photo-iss066e172499.png');
    background-attachment: fixed;
    opacity: 0.98;
    width: 100%;
    box-shadow: 0px 3px 5px 0px rgba(241, 32, 231, 0.2);
    position: fixed;
    z-index: 999;
}

.header-container__logo a {
    font-family: 'Great Vibes', cursive;
    font-size: 48px;
    color: rgb(215, 190, 215);
}

.header-container__logo h1::first-letter {
    font-size: 56px;
    color: rgb(0, 0, 0);
    text-shadow: 0px 0px 5px rgb(215, 190, 215);
}

/* inicio de cabeçalho mobile */
@media (max-width: 767px) {

    .header-container__elements {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
    }

    .header-container__btn--expand {
        background-image: url('../../assets/img/icon-button-expand.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-color: inherit;
        border: none;
        margin-right: 25px;
    }

    .header-container__btn--close {
        background-image: url('../../assets/img/icon-button-close.png');
    }

    #header-container__btn {
        width: 48px;
        height: 48px;
        transition: all 0.25s ease-in-out;
    }

    #header-container__btn:hover {
        cursor: pointer;
    }

    .nav-menu {
        text-align: center;
        width: 50%;
        margin: 107px 50%;
        position: fixed;
        z-index: 999;
    }

    .nav-menu__item {
        margin: 5px
    }

    .nav-menu__item a {
        color: rgb(216, 189, 215)
    }

    .nav-menu__list--closed {
        height: 0px;
        overflow: hidden;
    }

    .nav-menu__list ul {
        background-color: rgba(0, 0, 0, 0.95);
        box-shadow: 0px 3px 5px 0px rgba(241, 32, 231, 0.2);
        background-image: url('../../assets/img/bg-header-nasa-photo-iss066e172499.png');
        background-position: -100%;
        opacity: 0.98;
        border-bottom-left-radius: 100px;
        border-bottom-right-radius: 100px;
        margin: 0px;
        padding: 10px;
        font-weight: bold;
    }

    .nav-menu__list li {
        margin-bottom: 20px;
        font-size: 1.2em;
    }
}
/* fim de cabeçalho mobile */


/* inicio de cabeçalho desktop */
@media (min-width: 768px) {
    .header-container__elements {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin: 0 -25%;
        align-items: center;
    }

    #header-container__btn {
        display: none;
    }

    .nav-menu__list {
        position: fixed;
    }

    .nav-menu {
        text-align: center;
        margin: 0px 50%;
    }

    .nav-menu__list {
        display: flex;
        justify-content: center;
        z-index: 999;
        margin-top: 12px;
    }

    .nav-menu__list ul {
        display: flex;
        flex-wrap: wrap;
        font-weight: bold;
        font-size: 1.4em;
    }

    .nav-menu__item a {
        /* color: rgb(215, 190, 215); */
        margin: 10px;
    }

    .nav-menu__item a:hover {
        color: rgb(215, 190, 215);
        text-shadow: 0px 0px 5px black;
        cursor: pointer;
    }

}
/* fim de cabeçalho desktop */

/* fim da estilização do cabeçalho */

/* inicio da estilização do body */
body {
    background-color: rgb(0, 2, 61);
    background-image: url('../../assets/img/bg-mobile-nasa-photo-iss066e172499.jpg');
    background-attachment: fixed;
}

@media (min-width: 768px) {
    .body {
        background-image: url('../../assets/img/bg-hd-nasa-photo-iss066e172499.jpg');

    }
}

.quickmenu {
    height: 100px;
    box-shadow: 0px 3px 5px 0px rgba(241, 32, 231, 0.2);
    clip-path: inset(1px 1px -5px 1px);
}

.link__btn {
    color: rgb(215, 190, 215);
    margin: 0;
    padding: 0 5px 5px 5px;
    text-align: center;
    font-size: 110%;
    border-radius: 15px;
    box-shadow: 0px 0px 5px 0px rgba(241, 32, 231, 0.2);
    text-shadow: 0px 0px 20px rgba(241, 32, 231, 0.6);
}

.section {
    text-align: justify;
}

.section__title {
    font-family: 'Great Vibes', cursive;
    font-size: 48px;
    margin-left: 20px;
}

.section__title i {
    font-family: 'Great Vibes', cursive;
    font-size: 56px;
    color: rgb(215, 190, 215);
}

.section__title::first-letter {
    font-size: 72px;
    color: rgb(0, 0, 0);
    text-shadow: 0px 0px 5px rgb(215, 190, 215);
}

.section__presentation {
    border-radius: 20px;
    padding: 0px;
    text-align: justify;
    line-height: 1.5em;
    margin-bottom: 30px;
    font-size: 110%;
}
/* fim da estilização do body */

/* inicio da home */
.main-container {
    text-align: center;
    min-width: 320px;
    margin: 0px auto;
    padding: 20px;
}

@media (min-width: 576px) {
    .main-container {
        width: 85%;
    }
}

@media (min-width: 768px) {
    .main-container {
        width: 80%;
    }
}

.home {
    height: 100vh;
    clip-path: inset(1px 1px -5px 1px);
}

.home__greeting {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: justify;
    padding: 10px;
}

.home__greeting h1,
.home__greeting h2,
.home__greeting i {
    font-family: 'Great Vibes', cursive;
    font-size: 60px;
}

.home__greeting p {
    font-size: 1.4em;
    line-height: 1.8em;
}

.home__greeting-btn {
    font-size: 1.3em;
    line-height: 1.8em;
    color: rgb(215, 190, 215);
}

.home__greeting span {
    padding: 10px;
    text-align: center;
    font-size: 110%;
    border-radius: 15px;
    box-shadow: 0px 0px 5px 0px rgba(241, 32, 231, 0.2);
    text-shadow: 0px 0px 20px rgba(241, 32, 231, 0.6);
}

.home__greeting h1::first-letter {
    font-size: 72px;
    color: rgb(0, 0, 0);
    text-shadow: 0px 0px 5px rgb(215, 190, 215);
}

.home__greeting h2 i {
    font-style: normal;
    font-size: 72px;
    color: rgb(0, 0, 0);
    text-shadow: 0px 0px 5px whitesmoke;
}

.home__scroll {
    display: none;
}

/* fim da home */


/* inicio de soft skills */
.skills__softskills-container {
    border-radius: 15px;
    padding: 10px;
    
}

.card-item {
    background-color: rgba(241, 32, 231, 0.03);
    box-shadow: 0 0 5px 5px rgba(241, 32, 231, 0.2);
    /* background-image: url("../img/bg-header-nasa-photo-iss066e172499.png"); */
    background-attachment: fixed;
    border-radius: 20px;
    text-align: justify;
    line-height: 1.5em;
    padding: 5px 20px; 
    margin: 0 -10px 20px -10px;
    /* box-shadow: 1px 1px 5px 6px rgba(241, 32, 231, 0.15); */
    
}

.card-item h2 {
    color: rgb(215, 190, 215);
    font-weight: bold;
    text-align: left;
}
/* fim de soft skills */

.contact {
    background-color: blueviolet;
}

.contact img {
    width: 32px;
}